# Node.js

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules/
client/jspm_packages/

# KOAN

dist
.tmp
.nodemon
bower_components/
/client/jspm_packages/*
.DS_Store
.nodemonignore
.sass-cache/
.bower-*/
test/coverage/
logs/*
!.gitkeep

# IntelliJ IDEA

.idea/
koan.iml
